{{> header}}
<div class="container">
	<div class="row">
		{{#each categories}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>
					<a href="/category/{{_id}}" alt="{{name}}">{{name}}</a>
				</h3>
			</div>
			<div class="panel-body">
				{{#if movies}}
					{{#each movies}}
					<div class="col-md-2">
						<div class="thumbnail">
							<a href="/movie/{{_id}}">
								<img src="{{poster}}" alt="{{title}}">
							</a>
							<div class="caption">
								<h3>{{title}}</h3>
								<p><a class="btn btn-primary" href="/movie/{{_id}}" role="button" >观看预告片</a></p>
							</div>
						</div>
					</div>
					{{/each}}
				{{/if}}
			</div>
		</div>	
		{{/each}}
	</div>
</div>

{{> footer}}